// Add any custom Sass & CSS here


body {
  position: relative;
  width: 100%;
  display: block;
}

.film-container {
	height: 200px;
	display: float;
}

.film-image {
	padding-top: 5px;
	padding-left: 5px;
	max-width: 100%;
	max-height: 98%;
	float: left;	
}

.film-info {
	margin: 10px;
}

body > *  {
  margin: auto;
  display: block;
  overflow: auto;
}

body > script {
  display: none
}

form input {
	vertical-align: center;
}

.main {
	background: #3D3537;
  text-align:center;
  border: 1px solid black;
  color: white;
}

.main h1 {
	font-family: Impact, Charcoal, sans-serif;
}

.block {
    margin: 0 auto;
}

.sort {
	margin-top: 2px;
}

.inner {
	display:inline-block;
}

.genre {
	display:inline-block;
	background: blue;
	color: white;
	text-align: center;
}

.buttons {
	text-align:center;
}

.detail-view {
	background: #8BC5D9;
	height: 500px;
}

#title, #rank {
	color: red;
}

#plot, #released, #awards, #actors {
	color: white;
}


.detail-content {
	margin-top: 2px;
	text-align:center;
}

.detail-content img{
	max-height: 95%;
	max-width: 95%;
}

.inner2{
	width: 50%;
    margin: 0 auto;
}

.film-container {
	display: float;
	border: 1px solid;
}


/*
.film-container:hover
{
  -webkit-transform: scale(1.1);     
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
*/


.list {
	list-style-type: none;
}

