<div class="detail-view">
	<div class="buttons">
		<a href="#details/{{film.rank-1}} "class="prev">
      ◀ <span class="offscreen">Previous</span>
    </a>
    <a href="#details/{{film.rank+1}}" class="next">
        <span class="offscreen">Next</span>  ▶
    </a>
	</div>
	<div class="detail-content">
	  <img class="film-image" ng-src="data/images/{{film.imdbID}}.jpg"/>
	  <h2 id="title">{{film.title}} </h2>
	  <h4 id="rank">Rank: {{film.rank}}</h4>
	  <p id="plot">Plot: {{film.plot}}</p>
	  <p id="released">Released: {{film.released}}</p>
	  <p id="awards">Awards: {{film.awards}}</p>
	</div>
</div>

