
<div class="block" ng-model="genreProp">

	<button class="genre" ng-href='#gallery' ng-click="filterGenres('')">
      All
  </button>

  <button class="genre" ng-href='#gallery' ng-click="filterGenres('action')">
      Action
  </button>

  <button class="genre" ng-href='#gallery' ng-click="filterGenres('adventure')">
      Adventure
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('animation')">
      Animation
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('biography')">
      Biography
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('comedy')">
      Comedy
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('crime')">
      Crime
  </button>
 <button class="genre" ng-href='#gallery' ng-click="filterGenres('drama')">
      Drama
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('family')">
      Family
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('fantasy')">
      Fantasy
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('film-noir')">
      Film-Noir
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('history')">
      History
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('horror')">
      Horror
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('music')">
      Music
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('musical')">
      Musical
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('mystery')">
      Mystery
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('romance')">
      Romance
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('sci-fi')">
      Sci-Fi
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('sport')">
      Sport
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('thriller')">
      Thriller
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('war')">
      War
  </button>
  <button class="genre" ng-href='#gallery' ng-click="filterGenres('western')">
      Western
  </button>

	
</div>


<div class="row small-up-1 medium-up-2 large-up-4">
  <div class="column" ng-repeat="film in films | filter:{genre:predicate} ">
  	<a href= "#details/{{film.rank}}">
    	<img ng-src="data/images/{{film.imdbID}}.jpg" class="thumbnail" alt=""/>
  	</a>
  </div>
</div>