<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      
      <div class="sort outer">
        <div class="inner2">
          Search: <input ng-model="query"> </br>
        
          Sort by:
          <select ng-model="orderProp">
            <option value="title" >Film Name</option>
            <option value="rank" selected>Film Rank</option>
          </select>
        </div>
      </div>

      <div class="inner2">
        <form>
          <input type="radio" name="order" ng-click="reverse=false" checked="checked"> Ascending

          <input type="radio" name="order" ng-click="reverse=true"> Descending
        </form>
      </div>
    </div>

    <div class="list-content col-md-10">
      <!--Body content-->

      <ul class="list">
        <li class="animate-repeat" ng-repeat="film in films | filter:query | orderBy:orderProp:reverse">
          <div class="film-container" >
            <a href= "#details/{{film.rank}}">
              <img class="film-image" ng-src="data/images/{{film.imdbID}}.jpg"/>
              <p class="film-info">Title: {{film.title}} </p>
              <p class="film-info">Rank: {{film.rank}}</p>
            </a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div> 